/*--------------Framwork-------*/
*{
    margin: 0px;
    padding: 0px;
    font-family: "roboto";
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #F7F9F9;
    color: #17202A;
}

header{
    height: 70vh;
    background-color: #17202A;
    color: #99A3A4;
    margin-bottom: 5vh;
}

.navigation{
    width: 70%;
    margin: auto;
}

.direction-column{
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.direction-row{
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.nav-item{
    width: 20%;
    text-align: center;
    border-bottom: solid 5px transparent;
}


.nav-link{
    text-decoration: none;
    color: #F39C12;
}

.nav-link:hover{
    color: #99A3A4;
}

.nav-item:hover{
    border-bottom: solid 5px #F39C12;
    transition: all 500ms;
}

.presentation{
    margin-top: 20vh;
    text-align: center;
    width: 100%;
}

.card{
    width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.card-title{
    text-align: center;
    border-bottom: solid 5px #F39C12;
    margin-bottom: 10px;
}

.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.element{
    width: 50vh;
    min-height: 30vh;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.col{
    min-height: 30vh;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.w35{
    width: 35%;
}

.w55{
    width: 55%;
}

.w100{
    width: 100%;
}

textarea{
    width: 100%;
    height: 70%;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    resize: none;
}

textarea:focus{
    outline: none;
    background-color: #F7F9F9;
}

input{
    border: none;
    background-color: #F7F9F9;
    padding: 5px;
    width: 100%; 
    border-radius: 5px;
}

.text-center{
    text-align: center;
}


footer{
    background-color: #17202A;
    color: #99A3A4;
    padding-bottom: 10px;
}

.submit{
    width: 10em;
    padding: 5px;
    border: solid;
    margin-top: 10px;
}

.submit:hover{
    background-color: #17202A;
    color: #99A3A4;
    cursor: pointer;
}

.social{
    width: 5em;
    height: 5em;
    border: solid 5px black;
}

.social:hover{
    background-color: #F39C12;
}

/*--------------------colors--------------------*/
.darkGrey{
    background-color: #17202A;
}

.grey{
    background-color: #99A3A4;
}

.lightGrey{
    background-color: #F7F9F9;
}

.yellow{
    background-color: #F39C12;
}


/*--------------------fonts--------------------*/

.roboto{
    font-family: "roboto";
}

.freshman{
    font-family: "freshman";
}


.grobold{
    font-family: "grobold";
}

/*--------------------set-fonts--------------------*/

@font-face {
    font-family: "roboto";
    src: url("./fonts/Roboto_Mono/static/RobotoMono-Bold.ttf");
}

@font-face {
    font-family: "freshman";
    src: url("./fonts/freshman/Freshman.ttf");
}

@font-face {
    font-family: "grobold";
    src: url("./fonts/grobold/GROBOLD.ttf");
}